CD/PTUD CSDL 1/docs/Old/ThucHanh/SourceCode/NETServices/MyConsole/Service References/EmployeeServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/wsEmployees.dao" />
  <xs:element name="getall">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wsEmployees.dao" minOccurs="0" name="getallResult" nillable="true" type="q1:ArrayOfNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wsEmployees.dao" minOccurs="0" name="nv" nillable="true" type="q2:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wsEmployees.dao" minOccurs="0" name="nv" nillable="true" type="q3:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>