CD/PTUD CSDL 1/docs/Old/ThucHanh/SourceCode/NETServices/WinAppStore/Service References/EmployeeServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wsEmployees.dao" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeSer_getall_InputMessage">
    <wsdl:part name="parameters" element="tns:getall" />
  </wsdl:message>
  <wsdl:message name="IEmployeeSer_getall_OutputMessage">
    <wsdl:part name="parameters" element="tns:getallResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeSer_create_InputMessage">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="IEmployeeSer_create_OutputMessage">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeSer_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IEmployeeSer_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeSer_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IEmployeeSer_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeSer">
    <wsdl:operation name="getall">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeSer/getall" message="tns:IEmployeeSer_getall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeSer/getallResponse" message="tns:IEmployeeSer_getall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeSer/create" message="tns:IEmployeeSer_create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeSer/createResponse" message="tns:IEmployeeSer_create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeSer/delete" message="tns:IEmployeeSer_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeSer/deleteResponse" message="tns:IEmployeeSer_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeSer/update" message="tns:IEmployeeSer_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeSer/updateResponse" message="tns:IEmployeeSer_update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeSer" type="tns:IEmployeeSer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getall">
      <soap:operation soapAction="http://tempuri.org/IEmployeeSer/getall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/IEmployeeSer/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IEmployeeSer/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IEmployeeSer/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeManagement">
    <wsdl:port name="BasicHttpBinding_IEmployeeSer" binding="tns:BasicHttpBinding_IEmployeeSer">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wsEmployees/EmployeeManagement/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>